        .parent {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: repeat(2, 100px) 10px 200px 200px 10px 100px 200px 100px 300px;
            grid-gap: 1vh;
            background-color: transparent;
            height: 100vh;
        }
        .parent div {
            border: 1px solid black;
        }

        #style1 {
            border: transparent;
        }

        .div1 { grid-area: 1 / 1 / 2 / 5; background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,248,2,1) 58%); }
        .div2 { grid-area: 1 / 5 / 2 / 9; background: linear-gradient(360deg, rgba(255,255,255,1) 0%, rgba(255,248,2,1) 74%); }
        .div3 { grid-area: 1 / 9 / 2 / 13; background: linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(255,248,2,1) 74%); }
        .div4 { grid-area: 2 / 7 / 3 / 13; background: linear-gradient(90deg, rgba(255,0,0,1) 15%, rgba(0,95,255,1) 61%, rgba(255,255,255,1) 81%, rgba(255,2,2,1) 100%); }
        .div5 { grid-area: 2 / 1 / 3 / 7; background: linear-gradient(to bottom, red 33%, white 33% 66%, red 66% 100%); }
        .div6 { grid-area: 3 / 1 / 4 / 13; background-color: transparent; }
        .div7 { grid-area: 4 / 1 / 5 / 5; background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(2,130,255,1) 48%); }
        .div8 { grid-area: 4 / 5 / 5 / 12; background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(2,130,255,1) 48%); }
        .div9 { grid-area: 4 / 12 / 5 / 13; background-color: transparent; }
        .div10 { grid-area: 5 / 7 / 6 / 13; background: radial-gradient(circle, rgba(0,0,0,1) 12%, rgba(222,232,215,1) 13%, rgba(255,255,255,1) 24%, rgba(54,119,13,1) 25%); }
        .div11 { grid-area: 5 / 1 / 6 / 7; background: radial-gradient(at 10% 20%, white 10px, rgba(2,130,255,1) 15%); }
        .div12 { grid-area: 6 / 1 / 7 / 13; background-color: transparent; }
        .div13 { grid-area: 7 / 1 / 8 / 13; background: repeating-linear-gradient(180deg, #000000 3%, rgb(255, 255, 255) 5%, #000000 7%, #000000 8%); }
        .div14 { grid-area: 8 / 1 / 9 / 13; background: repeating-linear-gradient(45deg, #ffffff 5%, #ffffff 7%, #ff0000 8%, #ff0000 9%); }
        .div15 { grid-area: 9 / 1 / 10 / 13; background: repeating-radial-gradient(circle farthest-side at center center, #ffffff 5%, #ffffff 7%, #000000 8%, #000000 9%); height: 300px;}