        main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

textarea {
    resize: none;
    width: 300px;
    height: 100px;
}
.one {
    cursor: pointer;
}
.two {
    cursor: progress;

}
.three {
    cursor: wait;
}
.four {
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><foreignObject width="100%" height="100%"><div xmlns="http://www.w3.org/1999/xhtml" style="width:100%;height:100%;background:linear-gradient(135deg,%23000 40%,%230000 0),linear-gradient(45deg, %230000 40%, %23000 0 60%,%230000 0)" ></div></foreignObject></svg>')  0 0, auto;
}